* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    max-width: 35rem;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 35px 8px rgba(194, 194, 194, 1);
}

#top-header {
    color: #ebd7d7;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

#input-section {
    display: grid;
    grid-template-columns: 90px auto;
    background-color: white;
}

#toggle-all {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
}

#todo-input {
    padding: 1em 1em 1em 0em;
    font-size: 1.5em;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

#todo-input::placeholder {
    opacity: 0.1;
    font-style: italic;
}

#activity-section {
    border-top: 1px solid lightgray;
}

input[type=checkbox] {
    display: none;
}

.checked {
    display: none;
}

.activity-text {
    margin-right: 1em;
    word-break: break-all;
}

.activity-text-checked {
    margin-right: 1em;
    word-break: break-all;
    opacity: 0.5;
    text-decoration: line-through;
}

#activity-section div {
    display: flex;
}

.fields-styling {
    border-bottom: 1px solid lightgray;
}

.fields-styling div {
    width: 100%;
    padding: 1em 0em 1em 0em;
    font-size: 1.5em;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}

.fields-styling> :first-child {
    flex: 1;
    justify-content: center;
    min-width: 3.75em
}

.removal-sign {
    opacity: 0.5;
    fill: #e5a2a2;
    visibility: hidden;
    position: absolute;
    right: 5px;
}

.removal-sign:hover {
    opacity: 1;
}

.selector-section {
    display: none;
}

.selector-section-visible {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
    min-height: 50px;
    color: #777;
    align-content: center;

    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

nav {
    text-align: center;
}

#nr-items-left {
    margin-left: 1em;
}

#nr-items-left p {
    display: inline;
}

#filtering li {
    display: inline;
}

#filtering .non-selected {
    text-decoration: none;
    color: #777;
    padding: 4px 8px;
    margin: 4px;
    border: 1px solid transparent;
}

#filtering .selected {
    border: 1px solid #ebd7d7;
    border-radius: 5px;
    text-decoration: none;
    color: #777;
    padding: 4px 8px;
    margin: 4px;
}

#filtering a:hover{
    border: 1px solid #ebd7d7;
    border-radius: 5px;
}

#clear-completed {
    text-decoration: none;
    color: #777;
    border: none;
    background: none;
    font: inherit;
}

#clear-completed-div {
    display: none;
}

#clear-completed:hover {
    text-decoration: underline;
}

footer {
    margin-top: 4rem;
}

footer p {
    color: #bfbfbf;
    font-size: 10px;
    padding: 0.3rem;
    text-align: center;
}

@media (max-width: 570px) {
    body {
        margin: 0 3px 0 3px;
    }
}

@media (max-width: 480px) {
    .selector-section-visible {
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #nr-items-left {
        margin-left: 0;
    }
}