* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

#down-arrow{
    display: block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
}

.checkmark {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid lightgreen;
    border-width: 0 2px 2px 0;
    transform: rotate(39deg);
    padding-bottom: 2px;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    max-width: 35rem;
}

.container {
    box-shadow: 0px 10px 35px 8px rgba(194, 194, 194, 1);
}

#top-header {
    color: #ebd7d7;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

#input-section {
    display: grid;
    grid-template-columns: 90px auto;
    background-color: white;
}

#toggle-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-input {
    padding: 1em 1em 1em 0em;
    font-size: 1.5em;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

#todo-input::placeholder {
    opacity: 0.1;
    font-style: italic;
}

#activity-section {
    display: block;
    grid-template-columns: 90px auto;
    border-top: 1px solid lightgray;
    background-color: white;
}

.activity-styling {
    display: grid;
    grid-template-columns: 90px auto;
    border-bottom: 1px solid lightgray;
}

.checkbox-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-area-edit {
    visibility: hidden;
}

.edit-activity-text {
    padding: 1em 0em 1em 0em;
    font-size: inherit;
    border: none;
    width: 100%;
    outline: 1px solid gray;
}

input[type=checkbox] {
    display: none;
}

.checked {
    display: none;
    align-items: center;
    justify-content: center;
    border: 2px solid #ededed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.unchecked {
    display: block;
    border: 2px solid #ededed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.activity-text {
    margin-right: 1em;
    word-break: break-all;
    padding: 1em 0em 1em 0em;
    width: 100%;
}

.activity-text-checked {
    margin-right: 1em;
    padding: 1em 0em 1em 0em;
    word-break: break-all;
    opacity: 0.5;
    text-decoration: line-through;
}

.activity-text-wrapper {
    font-size: 1.5em;
    border: none;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
} 

.removal-sign {
    cursor: default;
    opacity: 0.5;
    color: #e5a2a2;
    visibility: hidden;
    position: absolute;
    right: 10px;
    display: block;
}

.removal-sign:hover {
    opacity: 1;
}

.selector-section {
    display: none;
}

.selector-section-visible {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
    min-height: 50px;
    color: #777;
    align-content: center;

    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

nav {
    text-align: center;
}

#nr-items-left {
    margin-left: 1em;
}

#nr-items-left p {
    display: inline;
}

#filtering li {
    display: inline;
}

#filtering .non-selected {
    text-decoration: none;
    color: #777;
    padding: 4px 8px;
    margin: 4px;
    border: 1px solid transparent;
}

#filtering .selected {
    border: 1px solid #ebd7d7;
    border-radius: 5px;
    text-decoration: none;
    color: #777;
    padding: 4px 8px;
    margin: 4px;
}

#filtering a:hover{
    border: 1px solid #ebd7d7;
    border-radius: 5px;
}

#clear-completed {
    text-decoration: none;
    color: #777;
    border: none;
    background: none;
    font: inherit;
}

#clear-completed-div {
    display: none;
}

#clear-completed:hover {
    text-decoration: underline;
}

footer {
    margin-top: 4rem;
}

footer p {
    color: #bfbfbf;
    font-size: 10px;
    padding: 0.3rem;
    text-align: center;
}

@media (max-width: 570px) {
    body {
        margin: 0 3px 0 3px;
    }
}

@media (max-width: 480px) {
    .selector-section-visible {
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #nr-items-left {
        margin-left: 0;
    }
}